In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('Precily_Text_Similarity.csv',index_col=None)

In [3]:
data.head()

,text1,text2
0,broadband challenges tv viewing the number of ...,gardener wins double in glasgow britain s jaso...
1,rap boss arrested over drug find rap mogul mar...,amnesty chief laments war failure the lack of ...
2,player burn-out worries robinson england coach...,hanks greeted at wintry premiere hollywood sta...
3,hearts of oak 3-2 cotonsport hearts of oak set...,redford s vision of sundance despite sporting ...
4,sir paul rocks super bowl crowds sir paul mcca...,mauresmo opens with victory in la amelie maure...

In [4]:
import nltk.corpus
import re
nltk.download('stopwords')
from nltk.corpus import stopwords
import nltk
from nltk import word_tokenize
from nltk.stem.porter import PorterStemmer
from nltk.stem import WordNetLemmatizer
stop = stopwords.words('english')
stemmer = PorterStemmer()

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\devan\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [5]:
def text_cleaning(text):
    text = re.sub(r"(@\[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)|^rt|http.+?", "", text)
    text = " ".join([word for word in text.split() if word not in (stop)])
    text = word_tokenize(text)
    stem_words = []
    for word in text:
        stem_words.append(stemmer.stem(word))
        stem_words.append(" ")
    return "".join(stem_words)

In [6]:
text = 'My Name is Devanshu Mishra and i am cse student'

In [7]:
data['text1'] = data['text1'].apply(lambda x:text_cleaning(str(x)))
data['text2'] = data['text2'].apply(lambda x:text_cleaning(str(x)))

In [8]:
data

,text1,text2
0,broadband challeng tv view number european bro...,garden win doubl glasgow britain jason garden ...
1,rap boss arrest drug find rap mogul marion sug...,amnesti chief lament war failur lack public ou...
2,player burnout worri robinson england coach an...,hank greet wintri premier hollywood star tom h...
3,heart oak 32 cotonsport heart oak set ghanaian...,redford vision sundanc despit sport corduroy c...
4,sir paul rock super bowl crowd sir paul mccart...,mauresmo open victori la ameli mauresmo maria ...
...,...,...
2995,uk director guild nomine name martin scorses c...,steel firm cut 45 000 job mittal steel one wor...
2996,u2 play grammi award show irish rock band u2 p...,israel look us bank chief israel ask us banker...
2997,pountney hand ban fine northampton coach budg ...,india iran ga export deal india sign 40bn 21bn...
2998,bell name best scottish band bell sebastian na...,mido make third apolog ahm mido hossam made an...
2999,crimin probe citigroup deal trader us bank gia...,former ni minist scott die former northern ire...

In [9]:
# data['text1'] = data['text1'].apply(lambda x:word_tokenize(x))
# data['text2'] = data['text2'].apply(lambda x:word_tokenize(x))

In [10]:
from sklearn.feature_extraction.text import TfidfVectorizer
import gensim
vectorizer = TfidfVectorizer()
def cosine_sim(text1, text2):
    tfidf = vectorizer.fit_transform([text1, text2])
    return round(((tfidf * tfidf.T).A)[0,1],3)

In [11]:
lst = []

In [12]:
for i in range(len(data)):
    text1 = data['text1'][i]
    text2 = data['text2'][i]
    lst.append(cosine_sim(text1,text2))

In [13]:
data['similarity'] = lst

In [14]:
data.to_csv('Final_Output.csv')

In [16]:
data

,text1,text2,similarity
0,broadband challeng tv view number european bro...,garden win doubl glasgow britain jason garden ...,0.062
1,rap boss arrest drug find rap mogul marion sug...,amnesti chief lament war failur lack public ou...,0.019
2,player burnout worri robinson england coach an...,hank greet wintri premier hollywood star tom h...,0.029
3,heart oak 32 cotonsport heart oak set ghanaian...,redford vision sundanc despit sport corduroy c...,0.018
4,sir paul rock super bowl crowd sir paul mccart...,mauresmo open victori la ameli mauresmo maria ...,0.051
...,...,...,...
2995,uk director guild nomine name martin scorses c...,steel firm cut 45 000 job mittal steel one wor...,0.007
2996,u2 play grammi award show irish rock band u2 p...,israel look us bank chief israel ask us banker...,0.055
2997,pountney hand ban fine northampton coach budg ...,india iran ga export deal india sign 40bn 21bn...,0.007
2998,bell name best scottish band bell sebastian na...,mido make third apolog ahm mido hossam made an...,0.040
2999,crimin probe citigroup deal trader us bank gia...,former ni minist scott die former northern ire...,0.033